.page-header
  %h1 Signer un PDF

.alert.alert-info
  %i.icon-question-sign
  %strong Comment ça marche ?
  C'est tout simple. Prenez votre PDF et envoyez le moi, je vous le retourne avec une belle signature!

= simple_form_for @order_file, html: { class: "form-horizontal" } do |f|
  =f.input :upload, as: :file
  =f.input :signator, as: :select, collection: OrderFile::SIGNATORS, include_blank: false
  =f.input :delivery_date, as: :select, collection: future_week_list, hint: "Aujourd'hui nous sommes le #{l Date.today} (semaine #{Date.today.cweek})"
  .form-actions
    =f.submit "Merci de me signer le PDF, s'il te plaît", class: "btn-primary btn-large"

